.App {
  text-align: center;
}

.d-block {
  display: block;
}
.m-auto {
  margin: 0 auto;
}

.m-1-0 {
  margin: 1rem 0;
}

.p-1-2 {
  padding: 1rem 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 0.5rem 0.75rem;
}
.outline-none {
  outline: none;
}

.border-gradient {
  border: 1px solid blue;
}
