* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
  font-size: 80%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E76EA6;
}

.container {
  max-width: 400px;
  padding: 1rem;
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-shadow: -3px 6px 27px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -3px 6px 27px 7px rgba(34, 60, 80, 0.2);
  box-shadow: -3px 6px 27px 7px rgba(34, 60, 80, 0.2);
}

.title {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #E76EA6;
  cursor: pointer;
}

.list {
  width: 100%;
  display: block;
  padding: 0.75rem 0;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.list-item-text-content {
  padding: 0 1rem;

}
.picture {
  width: 18%;
  border-radius: 50%;
}